* {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    font: 400 14px 'Arial', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inp-name, .inp-phone, .submit {
    height: 40px;
    background: #cbcbcb;
    border: #FFF;
    border-radius: 4px;
}