@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFF;
    list-style: none;
}

body {
    background-color: #1B222E;
    display: grid;
    justify-content: center;
    grid-template-columns: 12.5vw 1fr 12.5vw;
}

.wrapper {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 76%;
    grid-template-rows: 362px 60px auto 401px 442px;
}

header {
    border: 2px solid #FF0000;
    grid-column: 1/3;
    grid-row: 1/2;
}

aside {
    border: 2px solid #FFFF00;
    grid-column: 1/2;
    grid-row: 3/4;
}

main {
    border: 2px solid #00FF00;
    display: grid;
    grid-template-columns: repeat(auto-fill, 232px);
    grid-template-rows: repeat(auto-fill, 417px);
    grid-gap: 32px;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: center;
}

footer {
    border: 2px solid #0000FF;
    grid-column: 1/3;
    grid-row: 5/6;
}

.rate-bar:before {
    content: attr(data-rate);
    position: absolute;
    left: -47px;
    top: -6px;
    font: 700 12px/17px 'Open Sans', sans-serif;
    color: #FFF;
}

.product {
    width: 232px;
    height: 417px;
    position: relative;
    background: #262A3E;
    border-radius: 6px;
    border: 1px solid #262A3E;
    box-sizing: border-box;
}

.img-caption {
    position: absolute;
    top: 154px;
    background: #A782E926;
    width: 157px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 11px/16px 'Open Sans', sans-serif;
    color: #A782E9;
    margin-left: 16px;
}

.product-info {
    padding: 0 16px 16px 16px;
}

.product-name {
    font: 600 18px/22px 'Open Sans', sans-serif;
    margin-bottom: 4px;
}

.product-desc, .product-price-rec{
    font: 400 13px/17px 'Open Sans', sans-serif;
    color: #83878F;
    margin-bottom: 16px;
}

.product-price {
    font: 700 24px/24px 'Open Sans', sans-serif;
    margin-bottom: 5px;
}

.rate-wrap {
    bottom: 82px;
    right: 16px;
    position: absolute;
}

.to-cart {
    position: absolute;
    bottom: 16px;
    width: 200px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #29B474;
    border-radius: 6px;
    font: 600 11px/20px 'Open Sans', sans-serif;
}

.pagination {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.pagination-info {
    width: 111px;
    height: 44px;
    background: #262A3E;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 400 14px/20px 'Open Sans', sans-serif;
}

.pagination-pages {
    display: flex;
    font: 400 14px/20px 'Open Sans', sans-serif;
}

.arrow:first-of-type {
    transform: rotate(180deg);
}

.pagination-page:last-of-type {
    margin-right: 0;
}

.pagination-page {
    width: 44px;
    height: 44px;
    background: #262A3E;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

@media (max-width: 1366px) {
    body {
        grid-template-columns: 5vw 1fr 5vw;
    }
}

@media (max-width: 1130px) {
    body {
        grid-template-columns: 1vw 1fr 1vw;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr 70%;
    }

    main {
        column-gap: 55px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr 75%;
    }

    main {
        justify-content: space-around;
    }
}